 <!DOCTYPE html>
<html>
  <head>
    <title>Twilio</title>
    	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    	<link rel="stylesheet" type="text/css" href="http://www.larentis.eu/switch/bootstrapSwitch.css" />
    	<!--
        <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
        -->
            <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>	
  </head>
  <body>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4"><br/>
<ul class="nav nav-list">
  <li><a href="/voiceclient"><i class="icon-volume-down"></i>Make a browser phone call</a></li>
  <li><a href="/smsclient"><i class="icon-envelope"></i>Send a SMS</a></li>
<li><a href="/speechclient"><i class="icon-play"></i>Get Twilio to speak to caller</a></li>
<li><a href="/broadcastclient"><i class="icon-bullhorn"></i>Broadcast message</a></li>
<!--
<li><a href="/SMSreply"><i class=" icon-info-sign"></i>Personalized SMS reply</a></li>
-->

</ul>
    </div>
    <div class="span8">
<div class="row-fluid">
  <div class="span8">
    <h3>twilio prototyping</h3>
  </div>
</div>   

<div class="row-fluid">
	<div class="span6">some fun prototyping Twilio - disclaimer the Twilio Client js used for the skype like tests (Get Twilio to speak to call and voice call) is chrome friendly only </div>
</div>

    </div>
  </div>
</div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
 
 
  </body>
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41669768-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 
</html>