 <!DOCTYPE html>
<html>
  <head>
    <title>Notifications</title>
    	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
            <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>	
    	
  
  </head>
  <body>



<div class="container-fluid">

  <div class="row-fluid">
    <div class="span4" id="log">{{message}}</div>

</div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
 
 
  </body>
</html>